pkgbase = libvterm-bzr
	pkgdesc = Abstract library implementation of a VT220/xterm/ECMA-48 terminal emulator.
	pkgver = 678
	pkgrel = 1
	url = http://www.leonerd.org.uk/code/libvterm
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = bzr
	depends = glibc
	provides = libvterm=678
	conflicts = libvterm
	source = libvterm-bzr::bzr+http://bazaar.leonerd.org.uk/c/libvterm/#revision=678
	sha256sums = SKIP

pkgname = libvterm-bzr

